.cover {
    margin: 0 auto 92px;
    max-width: 1184px;
    padding-top: 16.9%;
    padding-bottom: 16.9%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 44, 47, .3);
    transition: background-color .3s ease;
}

.cover:before {
    content: "";
    background: url(../../image/_cover-trains.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:  center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .cover:hover {
    background-color: rgba(42, 44, 47, .8);
  }


@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        margin: 0 0 92px;
    }
    
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        margin: 0 0 88px;
    }
    
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 100%;
        margin: 0 0 64px;
    }
    
}