.cover__background {
background: url(../../../image/__background.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
max-width: 100%;
padding-top: 62.5%;
text-align: center;
position: relative;
}

